body {
    margin: 0;
    padding: 0;
    word-break: break-word;/*перенос символов при уменьшении экрана*/
}

header {
    background-color: black;
    color: white;
    font-family: "Comfortaa", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 100%;
    padding: 0px;
}

header img {
    width: 69px;
    height: 69px;
    padding-left: 8px;
    border-radius: 50%;
}

header ul {
    display: flex;
    list-style-type: none;
}

header ul li {
    padding: 0 15px;
}

main {
    width: 100%;
    height: 85vh;
    padding: 20 0px;
}

footer {
    background-color: black;
    color: white;
    font-family: "Comfortaa", sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    height: 15vh;
    width: 100%;
    padding: 0px;
}

a, h2 {
    padding: 0 15px;
    color: white;
}
a:checked{
    color: #e9802b;
}

@media only screen and (max-width: 600px) {
    header{
        display: flex;
        justify-content: flex-end;
        height: auto;
    }
    main{
        height: auto;
    }
    footer{
        display: flex;
        justify-content: flex-end;
        height: auto;
    }
}